.widgetSmall{
    flex: 1;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    padding: 20px;
    margin-right: 20px;
}

.widgetSmallTitle{
    font-size: 22px;
    font-weight: 600;
}

.widgetSmallImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetSmallList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmallListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetSmallUser{
    display: flex;
    flex-direction: column;
}

.widgetSmallUsername{
    font-weight: 600;
}

.widgetSmallUserTitle{
    font-weight: 300;
}

.widgetSmallButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetSmallIcon{
    font-size: 16px;
    margin-right: 5px;
}